.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.w100 {
    width: 100%;
    text-align: center;
}
.w50 {
    width: 50%;
}
.left {
    text-align: right;
}
.right {
    text-align: left;
}
h3 {
    text-align: center;
}